/* src/pages/Usuario/Menu.css */

/* Estilos generales para la vista en PC */
.menu-container {
    display: flex;
    height: 100vh;
  }
  
  .left-side {
    flex: 3;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Permite el desplazamiento vertical */
    border-right: 1px solid #e8d5ce;
  }
  
  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
    overflow-y: auto; /* Permite el desplazamiento vertical */
  }
  
  .search-bar-container {
    position: sticky;
    top: 0;
    background: #fcf9f8;
    border-bottom: 1px solid #e8d5ce;
    z-index: 10;
    padding: 16px;
  }
  
  .search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #e8d5ce;
    border-radius: 4px;
  }
  
  .product-list {
    padding: 16px;
    overflow-y: auto;
  }
  
  /* Estilo para las imágenes de los cócteles */
  .drink-item img {
    max-width: 100px; /* Ajusta el tamaño de las imágenes */
    height: auto;
    object-fit: cover;
  }
  
  /* Estilos para el navbar */
  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }
  
  /* Estilos para la vista en móvil */
  @media (max-width: 768px) {
    .menu-container {
      flex-direction: column;
    }
  
    .left-side {
      flex: none;
      overflow-y: auto;
      padding-bottom: 56px; /* Espacio para el navbar en la parte inferior */
    }
  
    .right-side {
      display: none;
    }
  
    .search-bar-container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 20;
    }
  
    .navbar {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 20;
    }
  }
  