/* src/components/OrderItem.css */
.order-item-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-radius: 12px;
    background-color: #fff;
  }
  
  .order-item-header {
    margin-bottom: 16px; /* Separación entre el texto y los controles */
  }
  
  .order-item-details {
    margin-bottom: 16px; /* Separación entre el texto y los controles */
  }
  
  .order-item-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .order-item-ingredients {
    color: #6b46c1;
    font-size: 1.25rem;
  }

  .order-item-price {
    font-weight: bold;
  }
  
  .order-item-controls {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px; /* Espaciado para separar los controles del área de notas */
  }
  
  .control-button {
    background-color: #f4eae7;
    color: #1c110d;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .control-button:hover {
    background-color: #e0c7b8;
  }
  
  .quantity-input {
    width: 60px;
    text-align: center;
    padding: 8px;
    font-size: 1.5rem;
    border: 1px solid #e8d5ce;
    border-radius: 8px;
  }
  
  .remove-button {
    background-color: #f4eae7;
    border: none;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #e0c7b8;
  }
  
  .notes-textarea {
    width: 100%;
    padding: 8px;
    font-size: 1.25rem;
    border: 1px solid #e8d5ce;
    border-radius: 8px;
  }
  
  /* Media Queries para Responsividad */
  
  /* Para pantallas pequeñas */
  @media (max-width: 768px) {
    .order-item-controls {
      flex-direction: column;
      gap: 4px;
    }
  
    .control-button,
    .remove-button {
      width: 36px;
      height: 36px;
      font-size: 1.25rem;
    }
  
    .quantity-input {
      width: 50px;
      font-size: 1.25rem;
    }
  
    .notes-textarea {
      font-size: 1rem;
    }
  }  